@charset "UTF-8";
body{
    background-color: rgb(223, 118, 170); 
    font-size: small;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  }

  h1{
      color: aquamarine;
      background-color: goldenrodll
  }

  h2{
      color: red;

  }

  p{
      text-align: center;
      font-style:normal;
  }